.analytics-page {
  display: block;
}

/*Analysis Page*/
.analytics-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.analytics-container h1 {
  margin-bottom: 25px;
  color: #1e293b;
  text-align: center;
}

/*Summary Cards*/
.analytics-summary {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.analytics-card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.analytics-card h3 {
  margin-bottom: 10px;
  color: #64748b;
}

.analytics-card p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1e293b;
}

/*Chart Section*/
.chart-row {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}
.chart-card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.chart-card h2 {
  margin-bottom: 20px;
  color: #1e293b;
  font-size: 1.2rem;
}

/*Chart Area*/
.chart-card canvas {
  width: 100% !important;
  height: 350px !important;
}
/*Monthly Trend*/
.monthly-chart {
  width: 100%;
}

/*Hover Effect*/
.analytics-card:hover,
.chart-card:hover {
  transform: translateY(-3px);
  transition: 0.3s ease;
}

/*Responsive Design*/
@media (max-width: 760px) {
  .analytics-summary {
    flex-wrap: wrap;
  }

  .chart-row {
    flex-direction: column;
  }
}

@media (max-width: 760px) {
  .analytics-summary {
    flex-direction: column;
  }

  .analytics-card {
    width: 100%;
  }

  .chart-card canvas {
    height: 280px !important;
  }
}

@media (max-width: 380px) {
  .analytics-container h1 {
    font-size: 1.8rem;
  }

  .chart-card h2 {
    font-size: 1rem;
  }

  .chart-card canvas {
    height: 220px !important;
  }
}
